body {
    background-image: url(findic.jpg);
    background-color: rgba(0, 0, 0, 0.724);
    background-blend-mode: overlay;
    background-size: 100%;
}
    #contain {
    background-color:black;
    width: 900px;
    height: 440px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    }
    #contain2{
        background-color:black;
        width: 900px;
        height: 920;
        margin: auto;
        margin-top: 40px;
        padding: 25px;
    }
    #box {
        width: 900px;
        height: 390px;
        margin-bottom: 75px;
        background-position: 0% 0%, 50% 50%;
        background-size: cover, cover;
        background-image: linear-gradient(45deg, rgba(0,0,0,0.753) 13%, transparent 59%), url('successmain.png');
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
    }
        #left {
        float: left;
        width: 45%;
        padding: 14px;
        }
        
        #right {
        float: right;
        width: 45%;
        padding: 14px;
        margin-right: -15px;
        }

        #info {
            background: #000000B5;
            padding: 5px;
            border: white solid 1px;
            height: 150px;
            overflow: scroll;
            color: white;
            margin-right: 20px;
            font-size: 1.2em;
            overflow-x: hidden;
        }

        .episodes {
            display:flex; 
            flex-wrap:wrap;
            flex-direction: row;
            
        }

        .card {
            flex:1 1 auto;
            padding: 10px;
            width: 15%;
            margin-right: 1%;
            margin-bottom: 1em;
            border: solid 1px black;
            border-radius: 10px;
            text-align: center;
            background-color:#fffff7;
        }
        .card img{
        width: 100%;
        }

        .card h4 {
            text-transform: uppercase;
            line-height: 1.5em;
            height: 3em;
        }
        .card p, .card h4
        {
            margin-left: 8px;
            margin-right: 8px;
            text-align: justify;
        }

    